@model IEnumerable<NextMealVote.Models.Meal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MealType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MealType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotoPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotoName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MealId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MealId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MealId })
        </td>
    </tr>
}

</table>
